.page-title{
    display:block !important;
    text-align: center;
    font-size:2rem;
    margin-top:10px;
}

.form-container{
    width:100%;
    margin:auto;
}

.leaflet-container {
    width: 100%;
    height: 50vh;
  }
.org-title 
  {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

/*hero */
.heroBlock {
    background: url('https://free4kwallpapers.com/uploads/originals/2017/05/04/kalampaka-greece-by-guill%C3%A9n-p%C3%A9rez-wallpaper.jpg') no-repeat;
    background-position: 50% 100%;
    background-size: cover;
    height: 100vh;
  }
  
.heroBlock .container-fluid {
    display: block !important;
  }
  
.heroBlock .ant-carousel,
.heroBlock .ant-carousel div {
    height: 100%;
}
  
.heroBlock .slick-dots li button {
    background: #000 !important;
}
  
.heroBlock .slick-dots li.slick-active button {
    background: #1890ff !important;
}
  
.heroBlock .content {
    max-width: 640px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 70px;
}
  
.heroBlock h3 {
    font-size: 30px;
    line-height: 1.2;
    margin: 0 0 30px;
}
  
.heroBlock p {
    margin: 0 0 30px;
  }
  
.heroBlock .btnHolder {
    height: auto !important;
  }
  
.heroBlock .btnHolder button,
.heroBlock .btnHolder .fas {
    margin: 0 10px 0 0;
}

.ant-carousel .slick-slide {
    text-align: center;
    height: 160px;
    line-height: 160px;
    background: #364d79;
    overflow: hidden;
  }
  
  .ant-carousel .slick-slide h3 {
    color: #fff;
  }
  .img-organizationpage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height:20%;
    margin-top:10px;
  }
  .header-organizationpage{
    display:block !important;
    text-align: center;
    font-size:2rem;
    margin-top:26px;
  }



  .marker {
    background-image: url('./icons/energy.svg');
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
  }
  card {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .label-p {
    width: max-content;
    color: rgb(35, 153, 35);
    font-size: 13px;
    border-bottom: 0.5px solid rgb(37, 149, 43);
    margin: 3px 0;
  }
  
  .desc {
    font-size: 14px;
  }
  .mapboxgl-canvas {
    position: relative;
    left: 0;
    top: 0;
  }
  /* .star {
    color: gold;
  } */
  
  .username {
    font-size: 14px;
  }
  
  .date {
    font-size: 12px;
  }
  
  .form-p {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: rgb(88, 87, 87);
  }
  
  input {
    border: none;
    border-bottom: 1px solid gray;
  }
  
  input::placeholder,
  textarea::placeholder {
    font-size: 12px;
    color: rgb(185, 184, 184);
  }
  
  input:focus,
  textarea:focus,
  select:focus {
    outline: none;
  }
  
  textarea {
    border: none;
    border-bottom: 1px solid gray;
  }
  
  .submitButton {
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    background-color: rgb(69, 168, 38);
    cursor: pointer;
  }
  
  .buttons,
  .logout {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  .button {
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    cursor: pointer;
  }
  
  .button:focus{
    outline: none;
  }