
.seven h1 {
  text-align: center;
      font-size:30px; font-weight:300; color:#222; letter-spacing:1px;
      /* text-transform: uppercase; */
  
      display: grid;
      grid-template-columns: 1fr max-content 1fr;
      grid-template-rows: 27px 0;
      grid-gap: 20px;
      align-items: center;
  }
  
  .seven h1:after,.seven h1:before {
      content: " ";
      display: block;
      border-bottom: 1px solid #21ba45
      ;
      border-top: 1px solid #21ba45
      ;
      height: 5px;
    background-color:#f8f8f8;
  }

.FormGroup {
	margin: 0 15px 20px;
	padding: 0;
	border-style: none;
	background-color: #7795f8;
	will-change: opacity, transform;
	box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 #829fff;
	border-radius: 4px;
}


.FormRow {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	margin-left: 15px;
	border-top: 1px solid #819efc;
}

.StripeElement--webkit-autofill {
	background: transparent !important;
}

.StripeElement {
	width: 100%;
	padding: 11px 15px 11px 0;
}

/* button {
	display: block;
	font-size: 16px;
	width: calc(100% - 30px);
	height: 40px;
	margin: 40px 15px 0;
	background-color: #f6a4eb;
	box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 #ffb9f6;
	border-radius: 4px;
	color: #fff;
	font-weight: 600;
	cursor: pointer;
	transition: all 100ms ease-in-out;
	will-change: transform, background-color, box-shadow;
	border: none;
} */

/* button:active {
	background-color: #d782d9;
	box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 #e298d8;
	transform: scale(0.99);
} */


.customdiv{
  max-width:150px;
  float:left;
    display: block;

}

.donateimg{
  max-width: 100%;  
  display: flex;
  float:left;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.donatebutton{
  margin-top: 10px !important;
  margin-left:10px !important;
  
}


.page-title{
    display:block !important;
    text-align: center;
    font-size:2rem;
    margin-top:10px;
}
.tab-title{
  display:block !important;
  text-align: center;
  font-size:2rem;
  position:static;
  margin-top:10px;
}
/* .menu{
  top: 0;
  left: 0;
  width: 100%;
  min-height: 6vh;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  transition: all .7s ease-in;
} */
.form-container{
    width:100%;
    margin:auto;
}

.leaflet-container {
    width: 100%;
    height: 50vh;
  }
.org-title 
  {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

/*hero */
.heroBlock {
    background: url('https://free4kwallpapers.com/uploads/originals/2017/05/04/kalampaka-greece-by-guill%C3%A9n-p%C3%A9rez-wallpaper.jpg') no-repeat;
    background-position: 50% 100%;
    background-size: cover;
    height: 100vh;
  }
  
.heroBlock .container-fluid {
    display: block !important;
  }
  
.heroBlock .ant-carousel,
.heroBlock .ant-carousel div {
    height: 100%;
}
  
.heroBlock .slick-dots li button {
    background: #000 !important;
}
  
.heroBlock .slick-dots li.slick-active button {
    background: #1890ff !important;
}
  
.heroBlock .content {
    max-width: 640px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 70px;
}
  
.heroBlock h3 {
    font-size: 30px;
    line-height: 1.2;
    margin: 0 0 30px;
}
  
.heroBlock p {
    margin: 0 0 30px;
  }
  
.heroBlock .btnHolder {
    height: auto !important;
  }
  
.heroBlock .btnHolder button,
.heroBlock .btnHolder .fas {
    margin: 0 10px 0 0;
}

.ant-carousel .slick-slide {
    text-align: center;
    height: 160px;
    line-height: 160px;
    background: #364d79;
    overflow: hidden;
  }
  
  .ant-carousel .slick-slide h3 {
    color: #fff;
  }
  .img-organizationpage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height:20%;
    margin-top:10px;
  }
  .header-organizationpage{
    display:block !important;
    text-align: center;
    font-size:2rem;
    margin-top:26px;
  }



  .marker {
    background-image: url('./icons/energy.svg');
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
  }
  card {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .label-p {
    width: max-content;
    color: rgb(35, 153, 35);
    font-size: 13px;
    border-bottom: 0.5px solid rgb(37, 149, 43);
    margin: 3px 0;
  }
  
  .desc {
    font-size: 14px;
  }
  .mapboxgl-canvas {
    position: relative;
    left: 0;
    top: 0;
  }
  /* .star {
    color: gold;
  } */
  
  .username {
    font-size: 14px;
  }
  
  .date {
    font-size: 12px;
  }
  
  .form-p {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: rgb(88, 87, 87);
  }
  
  input {
    border: none;
    border-bottom: 1px solid gray;
  }
  
  input::placeholder,
  textarea::placeholder {
    font-size: 12px;
    color: rgb(185, 184, 184);
  }
  
  input:focus,
  textarea:focus,
  select:focus {
    outline: none;
  }
  
  textarea {
    border: none;
    border-bottom: 1px solid gray;
  }
  
  .submitButton {
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    background-color: rgb(69, 168, 38);
    cursor: pointer;
  }
  
  .buttons,
  .logout {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  .button {
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    cursor: pointer;
  }
  
  .button:focus{
    outline: none;
  }

  .tab-image{
    /* border: 1px solid #ddd; */
    /* border-radius: 4px; */
    padding: 10px;
    width: 150px;

  }

  .container-table {
    height: 600px;
    overflow-y: scroll;  /* or auto */
  }

  /*---------------PROFILE----------------------*/
  .profile{
    display: flex;
}

.profileRight{
    flex: 9;
}

.profileCover{
    height: 320px  !important;
    position: relative !important;
}

.profileCoverImg{
    width: 100% !important;
    height: 250px!important;
    object-fit: cover!important;
}

.profileUserImg{
    width: 150px !important;
    height: 150px !important;
    border-radius: 50% !important;
    object-fit: cover !important;
    position: absolute !important;
    left: 0 !important;
    right: 0 !important;
    margin: auto !important;
    top: 150px !important;
    border: 3px solid white !important;
}

.profileInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profileInfoName{
    margin-bottom:100px;
    font-size: 36px;
}

.profileInfoDesc{
    font-weight: 300;
}

.profileRightBottom{
    display: flex;
}

/* -----------------RIGHTBAR--------------------------------*/
.rightbar {
  flex: 3.5;
}

.rightbarWrapper {
  padding: 20px 20px 0 0;
}


.rightbarAd {
  width: 100%;
  border-radius: 10px;
  margin: 30px 0;
}

.rightbarTitle{
    margin-bottom: 20px;
}

.rightbarFriendList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.rightbarTitle{
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

.rightbarInfo{
  margin-bottom: 30px;
}

.rightbarInfoItem{
  margin-bottom: 10px;
}

.rightbarInfoKey{
  font-weight: 500;
  margin-right: 15px;
  color: #555;  
  text-align: center;
}

.rightbarInfoKeyloc{
  font-weight: 500;
  margin-right: 15px;
  color: #555;
  text-align: center;
}

.rightbarInfoValue{
  font-weight: 300;
}

.rightbarFollowings{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.rightbarFollowing{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  cursor: pointer;
}

.rightbarFollowingImg{
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}
/*--------------FEED----------------------*/
.feed{
    flex:5.5
}

.feedWrapper{
    padding: 20px;
}

/*-----------------SIDEBAR--------------------------*/

.sidebar {
  flex: 3;
  /* height: calc(100vh - 50px); */
  /* overflow-y: scroll; */
  position: relative;
  /* top: 50px; */
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(179, 179, 179);
}

.sidebarWrapper {
  padding: 20px;
}

.sidebarList {
  padding: 0;
  margin: 0;
  list-style: none;
  align-items: center;

}

.sidebarListItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.sidebarIcon {
  margin-right: 15px;
}

.sidebarButton {
  width: 150px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-weight: 500;
}

.sidebarHr {
  margin: 10px 0;
  
}

.sidebarFriendList {
  padding: 0;
  margin: 0;
  list-style: none;
}